body{
    background-image:url('fond2.png');
    background-position: center;
    background-size: cover;
    font-family:arial, sans-serif;
}

td{
	border:solid;
}

.wrapper{
	display: grid;
	grid-template-columns: 25% auto 25%;
	grid-template-rows: auto auto auto auto;
}

.bloc_form{
	border:solid;
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	padding:10px;
	background-color:#00D5D8;
	align-self: center;
	z-index:6;
	margin-bottom: 25px;
}

#datatable_wrapper{
	border-collapse:collapse;
	text-align:center;
	grid-column: 2 / 3;
	grid-row: 3 / 4;
	margin-bottom: 25px;
}

.titre{
	grid-column: 1 / 4;
	grid-row: 1 / 2;
	text-align: center;
}

#submit{
	background:linear-gradient(to bottom, #11CAEE 5%, #11D5FF 100%);
	background-color:#00CACC;
	border-radius:3px;
	border:1px solid #0b0e07;
	cursor:pointer;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}

#name_city{
	width:183px;
}

.btnEnvoyer{
	grid-column: 2 / 3;
	margin-top: 7px; 
}

.inputAlign{
	grid-column: 1 / 2;
}

.formAlign{
	display:grid;
	grid-template-columns: 75%;
}

.bottomGrid{
	grid-column: 2 / 3 ;
	grid-row:  4 / 5 ;
	display:grid;
	grid-template-columns: 50% 10% 40%;
}

.texte{
	grid-column: 1 / 2 ;
	text-align:left;
}

.conclusion{
	grid-column: 3 / 4 ;
	border:2px solid;
	padding-left: 5px;
}

.btnAlign{
	margin: auto;
	width: 170px;
	padding-top: 10px;
}

#nomCommuneautocomplete-list{
	width:183px;
	max-height:1px;
	z-index: 7;
	margin-left:110px;
}

#nomCommuneautocomplete-list>div{
	background-color:white;
	z-index: 7;
	width:183px;
}
table{
	border-collapse: collapse;
}

#datatable_previous,#datatable_next{
	box-shadow:inset 0px 0px 1px 0px #000000;
	background:linear-gradient(to bottom, #00CACC 5%, #00D5D8 100% 100%);
	background-color:#00CACC;
	border-radius:6px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	font-family:Arial;
	padding:3px;
	text-decoration:none;
	margin: 0 5px 0 5px;
}

#datatable_previous,#datatable_next:hover{
	color:black;
}

.paginate_button{
	cursor:pointer;
	padding:1px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.paginate_button:hover {
  color: white;
}


::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background:#00CAEE; 
  border-radius: 10px;
  border:1px solid;
}

::-webkit-scrollbar-thumb:hover {
  background: #11DCCC; 
}

::-ms-scrollbar{
	width:20px;
}

::-ms-scrollbar-track{
	box-shadow:inset 0 0 5px grey;
	border-radius: 10px;
}

::-ms-scrollbar-thumb{
	background:#00CAEE;
	border-radius:10px;
	border:1px solid;
}

.dt-buttons>button{
	background:linear-gradient(to bottom, #11CAEE 5%, #11D5FF 100%);
	background-color: #00CACC;
	border-radius:3px;
	border:1px solid #0b0E07;
	cursor:pointer;
	font-family:Arial;
	font-size:15px;
	padding:3px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
	display:flex;
	margin-bottom:5px;
	margin-right: 5px;
}

select{
	border: 1px solid;
	border-radius:8px;
}

.dataTables_paginate > span{
	border-bottom:1px solid;
	border-radius:5px;
}

thead{
	font-weight: bold;
	background-color: #11D5FF;
}
.dt-buttons{
	display: flex;
}
#datatable_info{
	margin-top: 5px;
}
#datatable_paginate{
	margin-top: 10px;
}